# Terraform files
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Crash logs
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
terraform.rc
terraform.rc.json

# IDE files
.vscode/
.idea/

# Windows files
Thumbs.db